n8n/n8n/Workflow2-Entry.json
{
  "name": "FlowMind Department Execution",
  "nodes": [
    {
      "parameters": {},
      "id": "3a0001-0000-4000-8000-000000000001",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [200, 400]
    },
    {
      "parameters": {
        "fieldToSplitOut": "departmentTasks.departments",
        "options": {}
      },
      "id": "3a0002-0000-4000-8000-000000000002",
      "name": "Split Out - Departments",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [460, 280]
    },
    {
      "parameters": {
        "resume": "timeInterval",
        "amount": 2,
        "unit": "seconds"
      },
      "id": "3a0003-0000-4000-8000-000000000003",
      "name": "Wait - Department",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [700, 280],
      "continueOnFail": true
    },
    {
      "parameters": {
        "mode": "manual",
        "assignments": {
          "assignments": [
                        {
            "id": "department",
            "name": "department",
            "value": "={{$json.department}}",
            "type": "string"
            },
            {
            "id": "status",
            "name": "status",
            "value": "Completed",
            "type": "string"
            },
            {
            "id": "tasksCompleted",
            "name": "tasksCompleted",
            "value": "={{$json.tasks}}",
            "type": "array"
            },
            {
            "id": "startedAt",
            "name": "startedAt",
            "value": "={{$now.minus({ seconds: 2 }).toISO()}}",
            "type": "string"
            },
            {
            "id": "completedAt",
            "name": "completedAt",
            "value": "={{$now.toISO()}}",
            "type": "string"
            },
            {
            "id": "duration",
            "name": "duration",
            "value": 2000,
            "type": "number"
            }
          ]
        },
        "options": {}
      },
      "id": "3a0004-0000-4000-8000-000000000004",
      "name": "Set - Build Department Result",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [940, 280],
      "continueOnFail": true
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "departmentResults",
        "options": {}
      },
      "id": "3a0005-0000-4000-8000-000000000005",
      "name": "Aggregate - Department Results",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [1180, 280]
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "numberInputs": 2,
        "options": {}
      },
      "id": "3a0006-0000-4000-8000-000000000006",
      "name": "Merge - Results With Execution Context",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [1420, 400]
    },
    {
      "parameters": {
        "mode": "manual",
        "assignments": {
          "assignments": [
            {
              "id": "workflowId",
              "name": "workflowId",
              "value": "={{$json.workflowId}}",
              "type": "string"
            },
            {
              "id": "workflow",
              "name": "workflow",
              "value": "={{$json.workflow}}",
              "type": "string"
            },
            {
              "id": "employee",
              "name": "employee",
              "value": "={{$json.employee}}",
              "type": "object"
            },
            {
              "id": "workflowPlan",
              "name": "workflowPlan",
              "value": "={{$json.workflowPlan}}",
              "type": "object"
            },
            {
              "id": "departmentTasks",
              "name": "departmentTasks",
              "value": "={{$json.departmentTasks}}",
              "type": "object"
            },
            {
              "id": "documents",
              "name": "documents",
              "value": "={{$json.documents}}",
              "type": "object"
            },
            {
              "id": "recommendations",
              "name": "recommendations",
              "value": "={{$json.recommendations}}",
              "type": "object"
            },
            {
              "id": "summary",
              "name": "summary",
              "value": "={{$json.summary}}",
              "type": "object"
            },
            {
              "id": "metadata",
              "name": "metadata",
              "value": "={{$json.metadata}}",
              "type": "object"
            },
            {
              "id": "executionStartedAt",
              "name": "executionStartedAt",
              "value": "={{$json.executionStartedAt}}",
              "type": "string"
            },
            {
              "id": "currentStatus",
              "name": "currentStatus",
              "value": "Running",
              "type": "string"
            },
            {
              "id": "departmentResults",
              "name": "departmentResults",
              "value": "={{$json.departmentResults}}",
              "type": "array"
            },
            {
              "id": "completedDepartments",
              "name": "completedDepartments",
              "value": "={{$json.departmentResults.length}}",
              "type": "number"
            },
            {
              "id": "completedTasks",
              "name": "completedTasks",
              "value": "={{$json.departmentResults.reduce((sum, d) => sum + (d.tasksCompleted ? d.tasksCompleted.length : 0), 0)}}",
              "type": "number"
            },
            {
              "id": "progress",
              "name": "progress",
              "value": 100,
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "id": "3a0007-0000-4000-8000-000000000007",
      "name": "Set - Prepare Final Payload",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1660, 400]
    },
    {
      "parameters": {
        "source": "database",
        "workflowId": {
          "__rl": true,
          "value": "FlowMind Workflow Completion",
          "mode": "list",
          "cachedResultName": "FlowMind Workflow Completion"
        },
        "mode": "once",
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "id": "3a0008-0000-4000-8000-000000000008",
      "name": "Execute Workflow - Completion",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [1900, 400]
    }
  ],
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          { "node": "Split Out - Departments", "type": "main", "index": 0 },
          { "node": "Merge - Results With Execution Context", "type": "main", "index": 1 }
        ]
      ]
    },
    "Split Out - Departments": {
      "main": [
        [
          { "node": "Wait - Department", "type": "main", "index": 0 }
        ]
      ]
    },
    "Wait - Department": {
      "main": [
        [
          { "node": "Set - Build Department Result", "type": "main", "index": 0 }
        ]
      ]
    },
    "Set - Build Department Result": {
      "main": [
        [
          { "node": "Aggregate - Department Results", "type": "main", "index": 0 }
        ]
      ]
    },
    "Aggregate - Department Results": {
      "main": [
        [
          { "node": "Merge - Results With Execution Context", "type": "main", "index": 0 }
        ]
      ]
    },
    "Merge - Results With Execution Context": {
      "main": [
        [
          { "node": "Set - Prepare Final Payload", "type": "main", "index": 0 }
        ]
      ]
    },
    "Set - Prepare Final Payload": {
      "main": [
        [
          { "node": "Execute Workflow - Completion", "type": "main", "index": 0 }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  }
}