n8n/n8n/Workflow1-Entry.json
{
  "name": "FlowMind - Workflow 1 - Entry Point",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "flowmind/onboarding",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "1a2b3c4d-0001-4a11-8b11-000000000001",
      "name": "Webhook - Onboarding Entry",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [260, 300],
      "webhookId": "flowmind-onboarding-entry"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-success",
              "leftValue": "={{$json.body.success}}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            },
            {
              "id": "cond-workflow",
              "leftValue": "={{$json.body.workflow}}",
              "rightValue": "",
              "operator": {
                "type": "any",
                "operation": "exists",
                "singleValue": true
              }
            },
            {
              "id": "cond-departmentTasks",
              "leftValue": "={{$json.body.departmentTasks}}",
              "rightValue": "",
              "operator": {
                "type": "any",
                "operation": "exists",
                "singleValue": true
              }
            },
            {
              "id": "cond-documents",
              "leftValue": "={{$json.body.documents}}",
              "rightValue": "",
              "operator": {
                "type": "any",
                "operation": "exists",
                "singleValue": true
              }
            },
            {
              "id": "cond-informationExtraction",
              "leftValue": "={{$json.body.informationExtraction}}",
              "rightValue": "",
              "operator": {
                "type": "any",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "1a2b3c4d-0002-4a11-8b11-000000000002",
      "name": "IF - Validate Request",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [480, 300]
    },
    {
      "parameters": {
        "mode": "manual",
        "assignments": {
          "assignments": [
            {
              "id": "wid",
              "name": "workflowId",
              "value": "={{$json.body.workflowId}}",
              "type": "string"
            },
            {
              "id": "workflow",
              "name": "workflow",
              "value": "={{$json.body.workflow}}",
              "type": "string"
            },
            {
              "id": "employee",
              "name": "employee",
              "value": "={{$json.body.informationExtraction.extractedInformation}}",
              "type": "object"
            },
            {
              "id": "workflowPlan",
              "name": "workflowPlan",
              "value": "={{$json.body.workflowPlan}}",
              "type": "object"
            },
            {
              "id": "departmentTasks",
              "name": "departmentTasks",
              "value": "={{$json.body.departmentTasks}}",
              "type": "object"
            },
            {
              "id": "documents",
              "name": "documents",
              "value": "={{$json.body.documents}}",
              "type": "object"
            },
            {
              "id": "recommendations",
              "name": "recommendations",
              "value": "={{$json.body.recommendations}}",
              "type": "object"
            },
            {
              "id": "summary",
              "name": "summary",
              "value": "={{$json.body.summary}}",
              "type": "object"
            },
            {
              "id": "metadata",
              "name": "metadata",
              "value": "={{$json.body.metadata}}",
              "type": "object"
            },
            {
              "id": "executionStartedAt",
              "name": "executionStartedAt",
              "value": "={{$now.toISO()}}",
              "type": "string"
            },
            {
              "id": "currentStatus",
              "name": "currentStatus",
              "value": "Running",
              "type": "string"
            },
            {
              "id": "completedDepartments",
              "name": "completedDepartments",
              "value": 0,
              "type": "number"
            },
            {
              "id": "completedTasks",
              "name": "completedTasks",
              "value": 0,
              "type": "number"
            },
            {
              "id": "progress",
              "name": "progress",
              "value": 0,
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "id": "1a2b3c4d-0003-4a11-8b11-000000000003",
      "name": "Set - Prepare Execution Payload",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [720, 180]
    },
    {
      "parameters": {
        "source": "database",
        "workflowId": {
          "__rl": true,
          "value": "FlowMind Department Execution",
          "mode": "list",
          "cachedResultName": "FlowMind Department Execution"
        },
        "mode": "once",
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "id": "1a2b3c4d-0004-4a11-8b11-000000000004",
      "name": "Execute Workflow - Department Execution",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [960, 180]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "1a2b3c4d-0006-4a11-8b11-000000000006",
      "name": "Respond to Webhook - Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1200, 180]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"success\": false, \"error\": \"Validation failed. Required fields missing or invalid: success, workflow, departmentTasks, documents, informationExtraction.\" } }}",
        "options": {
          "responseCode": 400
        }
      },
      "id": "1a2b3c4d-0005-4a11-8b11-000000000005",
      "name": "Respond to Webhook - Validation Failed",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [720, 420]
    }
  ],
  "connections": {
    "Webhook - Onboarding Entry": {
      "main": [
        [
          {
            "node": "IF - Validate Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF - Validate Request": {
      "main": [
        [
          {
            "node": "Set - Prepare Execution Payload",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond to Webhook - Validation Failed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set - Prepare Execution Payload": {
      "main": [
        [
          {
            "node": "Execute Workflow - Department Execution",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Workflow - Department Execution": {
      "main": [
        [
          {
            "node": "Respond to Webhook - Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  }
}